%h1 New book
%ul
  - @book.errors.full_messages.each do |e|
    %li= e
= form_for @book do |f|
  %div
    = f.label :title
    = f.text_field :title
  %div
    = f.label :price
    = f.text_field :price
  = f.submit :create
