<h1>New book</h1>
<ul>
  <% @book.errors.full_messages.each do |e| %>
    <li><%= e %></li>
  <% end %>
</ul>
<%= form_for @book do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>
  <%= f.submit :create %>
<% end %>